/* ========= ABOUT ========= */
.about {
    &_data {
        text-align: center;
    }

    &_description span {
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--first-color);
    }

    &_number {
        font-size: var(--h1-font-size);
        color: var(--first-color);
        display: block;
    }

    &_img {
        justify-self: center;
        width: 220px;
        border-radius: .5rem;
    }
}