/* ========= BUTTONS ========= */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: .75rem 1rem;
    border-radius: .25rem;
    transition: .3s;

    &:hover {
        background-color: var(--first-color-dark);
    }

    &_light {
        background-color: var(--first-color-light);
    }
}   