/* ========= HEADER & NAV ========= */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #000;
}

.nav {
    height: var(--header-heigth);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_item {
        margin-bottom: var(--mb-3);
    }

    &_link {
        color: var(--first-color-lighten);
        transition: .3s;

        &:hover {
            color: var(--first-color-light);
        }
    }

    &_logo {
        color: var(--first-color-lighten);
    }

    &_toggle {
        cursor: pointer;
        filter: invert(98%) sepia(0%) saturate(150%) hue-rotate(40deg) brightness(116%) contrast(96%);
    }
}

@media screen and (max-width: 768px) {
    .nav {
        &_menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            padding-top: 1.5rem;
            text-align: center;
            background-color: #000;
            transition: .4s;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
            border-radius: 0 0 1rem 1rem;
        }
    }
}

// Show menu
.show-menu {
    top: var(--header-heigth);
}

// Active Menu
.active-link {
    position: relative;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: var(--first-color-light);
}

// Change background header
.scroll-header {
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scroll-header .nav_logo, .scroll-header .nav_link {
    color: var(--first-color-dark);
}

.scroll-header .nav_toggle {
    filter: invert(6%) sepia(15%) saturate(7498%) hue-rotate(329deg) brightness(99%) contrast(101%);
}

.scroll-header .nav_menu {
    background-color: var(--first-color-lighten);
}