/* ========= SCROLL ========= */
.scroll {
    &_top {
        position: fixed;
        right: 1rem;
        bottom: -20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        background: rgba(123, 111, 113, .7);
        border-radius: .5rem;
        z-index: var(--z-tooltip);
        transition: .4s;
        visibility: hidden;

        &:hover {
            background-color: var(--first-color);
        }
    }

    &_top_icon {
        filter: invert(100%) sepia(1%) saturate(1820%) hue-rotate(234deg) brightness(114%) contrast(96%);
    }
}

// Show scroll top
.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}